h1 {
  color: blue;
  text-align: center;
  text-decoration: underline;
  background-color: ghostwhite;
  padding: 20px 0;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.age {
  text-transform: uppercase;
  font-weight: bold;
}

.option {
  font-weight: bold;
}

.note {
  line-height: 20px;
}

.link {
  color: blue;
  text-decoration: underline;
}

.btn {
  height: 35px;
  width: auto;
  cursor: pointer;
  color: gold;
  background-color: black;
  border-radius: 20px;
  border: 5px solid black;
  padding: 2px;
}

button:hover {
  color: black;
  background-color: gold;
  border: 5px solid black;
}

select {
  width: 60.5px;
  height: 30px;
  border: 2px solid black;
}
